@import "variables"

*
  -webkit-font-smoothing: antialiased
  transition: ease-in-out 250ms all

// Debuggin trick
.list *
  background-color: rgba(100, 100, 100, 0.2)

// General Styles
body
  background: $neutro
  font-family: $lato

h2, h3, h4
  font-family: $pacifico
  color: $background

h2
  font-size: 1.8em

.special-accent
  color: $vino

.inverted
  color: $neutro !important
  text-align: center

.menu-paragraph
  color: darken($neutro, 3.5)

.menu-bold
  color: white

// Navigation
.nav-bar-wrapper
  .menu
    background-color: rgba($background, $alpha)
    overflow: auto
    position: absolute
    top: 0
    left: 0
    bottom: 7px
    width: 135px
    // Flex properties
    display: flex
    flex-direction: column
    justify-content: center

    .menu-link
      color: white
      text-decoration: none
      margin: 20px 0
      padding: 20px 15px 20px 15px
      text-align: center
      font-weight: 700
      &:hover
        background-color: $vino

.principal
  width: 100%
  height: 930px
  background: url('../img/background.png') center
  background-size: cover
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover

  // Flex properties
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  .principal-logo
    width: 300px
    height: 300px
    margin-bottom: 2em

  .btn
    margin: 0 auto 30px auto
    //overflow hidden
    display: block

  .btn-cta
    button
      color: $accent
      background: transparent
      border: 1px solid $accent
      border-radius: 3px
      -webkit-transition: all .5s ease
      transition: all .5s ease
      -webkit-transform: translate(0, 0)
      transform: translate(0, 0)
      cursor: pointer
      overflow: hidden
      outline: none
      color: white
      position: relative
      letter-spacing: 0.1em
      font-weight: 300
      padding: 1rem 3rem 1rem 3rem
      text-transform: uppercase
      font-family: $lato
      font-size: 1.5em
      a
        color: $accent
        text-decoration: none
      &:hover
        background: $accent
        color: white
        border: 1px solid $accent
        -webkit-transition: all .35s ease
        transition: all .35s ease
        >a
          color: $accent
          -webkit-transition: all .35s ease
          transition: all .35s ease
      &:active
        -webkit-transform: translate(5px, 5px)
        transform: translate(5px, 5px)

.about
  height: 400px
  // Flex properties
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: space-between
  @media(max-width: 780px)
    height: 800px
  .about-us
    width: 50%
    // Flex properties
    display: flex
    justify-content: center
    .about-us-txt
      margin: auto
      padding: 0 30%
      text-align: center
      @media(max-width: 780px)
        padding: 0 15%
      h2
        margin-bottom: 25px
        @media(max-width: 780px)
          margin-bottom: 20px
    @media(max-width: 780px)
      width: 100%
      height: 400px
  .about-us-img
    width: 50%
    background: url('../img/taco.png')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    @media(max-width: 780px)
      width: 100%
      height: 400px

.specialty
  display: block
  .specialty-title
    width: 100%
    background-color: $background
    height: 170px
    // Flex properties
    display: flex
    flex-flow: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
    @media(min-width: 320px)
      height: 250px
    .specialty-title-description
      max-width: 75%
      text-align: center
      margin-top: 0
      @media(min-width: 880px)
        max-width: 400px
  .specialty-wrapper
    width: 100%
    display: flex
    flex-wrap: wrap
    align-items: center
    align-content: flex-start
    .specialty-pic
      width: 20%
      object-fit: fill
      flex-grow: 1
      @media(max-width: 600px)
        width: 50%

.menu
  .menu-title
    width: 100%
    background-color: $background
    height: 130px
    // Flex properties
    display: flex
    flex-flow: column
    flex-wrap: wrap
    justify-content: center
    align-items: center
  .menu-background
    width: 100%
    height: 800px
    background-image: url('../img/menu-background_02.jpg')
    background-repeat: no-repeat
    background-position: center
    background-size: cover
    object-fit: contain
    @media(max-width: 768px)
      height: 743px
    @media(max-width: 600px)
      height: 850px
    @media(max-width: 530px)
      height: 1240px
    @media(max-width: 480px)
      height: 1280px
    @media(max-width: 414px)
      height: 1200px
    @media(max-width: 375px)
      height: 1250px
    @media(max-width: 360px)
      height: 1285px
    @media(max-width: 320px)
      height: 1370px
    .menu-wrapper
      margin: auto
      padding: 10% 0
      max-width: 700px
      // Flex properties
      display: flex
      @media(max-width: 1024px)
        padding: 8% 0
      @media(max-width: 480px)
        flex-wrap: wrap
        flex-direction: column
        padding: auto
      .menu-left, .menu-right
        width: 50%
        @media(max-width: 480px)
          width: 100%
        .menu-paragraph
          padding: 0 10px
